@import "reset"
@import "home"
@import "variables"
body
  background-color: $primary
  font-family: $primary_font

#info-section
  color: $secondary
  width: 35%
  float: left
  .info-box
    padding: 54px
    position: absolute
    bottom: 60px
#content-area
  background-color: white
  width: 65%
  margin-left: 35%
