
@import "reset"
@import "fonts"
@import "variables"
@import "sidebox"
@import "mainbox"

body
  background-color: $primary
  font-family: $primary_font
  font-size: 15px


h1
  font-family: "Helvetica Now Display",sans-serif
  font-weight: 200
  font-size: 2rem

h3
  font-family: "Helvetica Now Display",sans-serif
  font-weight: normal
  font-size: 1.5rem

p
  font-family: $primary_font
  font-weight: 300
  color: $tertiary
  font-size: 15px
  line-height: 1.5
b
  font-weight: bold
strong
  font-weight: bold

a
  text-decoration: none
  color: $tertiary

.site-container
  margin: 0

.grid-item-one
  height: 100%
  z-index: 1

.mainbox
  float: right
  background-color: white
  border-radius: 20px

.sidebox
  float: left
  position: fixed
  text-align: center
  background-color: white
  border-radius: 20px
  min-width: 260px


.box-container
  max-width: 1350px
  margin: auto
  padding: 20px

/* RESPONSIVE  SECTIONS */
@media only screen and (min-width: 1200px)
  .box-container
    max-width: 1250px
    min-width: 1200px
    margin: auto
    padding: 20px

@media only screen and (max-width: 1200px)
  .box-container
    display: flex
    flex-direction: column
    max-width: 983px
    min-width: 800px
    margin: auto
    padding: 20px

  .sidebox
    float: left
    position: initial
    text-align: center
    background-color: white
    border-radius: 20px
    min-width: 260px
    width: 100%
    margin-bottom: 20px

@media only screen and (max-width: 850px)
  .box-container
    min-width: initial
    margin: auto
    padding: 20px


